

section {
	min-height: 120vh;
	min-width: 100vw;
	background: #ffffff;
}


section:nth-of-type(1){
	background: linear-gradient(126deg,
	rgba(255, 255, 255, 1) 0%,
	rgba(224, 204, 47, 1) 51%,
	rgba(255, 0, 0, 1) 87%);
}


section:nth-of-type(2){
	background: #ffffff;
	min-height:100vh;
}


section:nth-of-type(3) {
	background: linear-gradient(180deg,
	rgba(255, 255, 255, 1) 0%,
	rgba(255, 80, 80, 1) 5%, 
	rgba(255, 71, 71, 1) 95%, 
	rgba(255, 255, 255, 1) 100%);
}


section:nth-of-type(5){
	background: linear-gradient(0deg,
	rgba(255, 187, 51, 1)0%,
	rgba(255, 255, 255, 1) 100%);
}


section:nth-of-type(6){
	min-height: 33vh;
	background: linear-gradient(90deg,
	rgba(255, 255, 255, 1) 0%,
	rgba(255, 71, 71, 1) 70%);
}


#imgContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


#telas {
	width: 30%;
	height: auto;
}


#introContainer {
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}


#introPST {
	margin-right: 10%;
	font-size: 33px;
	display: flex;
	flex-direction: column;
	max-width: 50%;
}


#introIMG {
	min-width: 27%;
	height: auto;
}


#projContainer {
	margin-top: 10%;
	font-size: 33px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items:center;
}


#projetos {
	min-width: 80vw;
	background-color: black;
}


.carrossel {
    display: flex;
    width: 80%;
    height: 30%;
    gap: 3vw;
    padding: 16px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card {
    flex-shrink: 0;
    width: 30vw;
    height: 50vh;
    background-color: #FFF;
    scroll-snap-align: center;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
}


#como-trabalhamos {
    display: flex;
    justify-content: center;
}


.info-container {
    display: flex;
    min-width: 80%;
    justify-content: space-between;
    align-items:center;
}


.left {
	font-size: 30px;
}


.left li {
	margin-bottom : 1em;
}


.left img {
	width: 70%;
	height: auto;
}


.review-card {
  background: #f5d7a3;
  padding: 16px;
  max-width: 45%;
  max-height: 28%;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
}


#problema {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: red;
}
























