* {
        margin: 0;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
        background-color: var(--manjericao);
        width: auto;
        padding: 1rem;
        min-height: 44px;
        height: 10svh;
        max-height: 60px;

        display: grid;
        grid-template-columns: 8% 80% 10%;
        justify-items: center;
        align-items: center;

        & div {
          display: flex;
          justify-content: space-evenly;

          width: 100%;
        }

        color: var(--bg);
        font-weight: bold;

        & a {
          text-decoration: none;
          color: var(--bg);
        }
}

h1 {
  color: #39581F;
}


:root {
  --text: #08060d;
  --bg: #FAFAFA;
  --manjericao: #4E772C;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

main {
  margin: 0 2vw;
}