.box {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4b6f2a;
}

.register-container {
  min-height: 55vh;
  background: #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.register-box {
  width: 100%;
  max-width: 420px;

  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 5vh;
  align-items: center;
}

.register-box h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* inputs */
.register-box input {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 30px;

  background: #ffffff;
  outline: none;

  font-size: 14px;
  margin: 0 0 1.5vh -1vw;
  
  color: black;
}

/* botão */
.register-box button {
  margin-top: 10px;

  background: #4b6f2a;
  color: white;

  border: none;
  padding: 12px;

  border-radius: 20px;

  cursor: pointer;

  align-self: center;
  width: 160px;
}

.register-box button:hover {
  background: #3f5e24;
}

.btnVoltar {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: xx-large;

  background: #4b6f2a;
  color: white;

  border: none;
  padding: 10px 10px;

  border-radius: 20px;
  cursor: pointer;

  z-index: 1000; /* garante que fique por cima */
}

.btnVoltar:hover {
  background: #3f5e24;
}