#pesquisa {
   height: 2rem;
   width: 20rem;

   display: flex;
   justify-content: right;

   border: solid black 1px;
   border-radius: 20px;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);

   & input {
      background-color: var(--bg);
      width: 85%;

      border: 0;
      padding: 0;

      color: var(--text);
      font-size: 1rem;

      &::selection {
         border: 0;
      }
   }

}

.catalogado {
   background-color: antiquewhite;
   height: 18vw;
   width: 18vw;
   min-height: 80px;
   min-width: 80px;
   border-radius: 20px;
   margin: 0.5%;
}

.catalogoPlantas {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-column-gap: 1%;
   grid-row-gap: 1%;

}

.proximaPagina {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--manjericao);
   font-weight: 800;
}