.box {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4b6f2a;
}

.plant-container {
  min-height: 65vh;
  background: #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5vh;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.plant-box {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 5vh;
  align-items: center;
}

.plant-box h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* inputs */
.plant-box input,
.plant-box textarea {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 30px;

  color: black;

  background: #ffffff;
  outline: none;

  font-size: 14px;
  margin: 0 0 1.5vh -1vw;
}

/* textarea ajuste */
.plant-box textarea {
  min-height: 100px;
  resize: none;
}

/* botão */
.plant-box button {
  margin-top: 10px;

  background: #4b6f2a;
  color: white;

  border: none;
  padding: 12px;

  border-radius: 20px;

  cursor: pointer;

  width: 180px;
}

.plant-box button:hover {
  background: #3f5e24;
}
